@{ ViewData["Title"] = "Index"; } 
@model IEnumerable<ShopifyOrder>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3>Your orders for 2017-08-18 - 2017-09-17</h3>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary">Get All Tracking Codes</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Filter...">
                    <span class="input-group-btn">
                      <button class="btn btn-info" type="button">Filter</button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group date" data-provide="datepicker" data-date-language="no" data-date-format="mm-dd-yyyy">
                    <input type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group date" data-provide="datepicker" data-date-today-btn="true" data-date-language="no" data-date-format="mm-dd-yyyy">
                    <input type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Date Range
                          </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Today</a>
                        <a class="dropdown-item" href="#">Yesterday</a>
                        <a class="dropdown-item" href="#">Last 7 days</a>
                        <a class="dropdown-item" href="#">Last 14 days</a>
                        <a class="dropdown-item" href="#">Last 30 days</a>
                        <a class="dropdown-item" href="#">Last 90 days</a>
                        <a class="dropdown-item" href="#">Week to date</a>
                        <a class="dropdown-item" href="#">Month to date</a>
                        <a class="dropdown-item" href="#">Quarter to date</a>
                        <a class="dropdown-item" href="#">Year to date</a>
                    </div>
                </div>
            </div>
        </div>

        @foreach(ShopifyOrder order in Model) {
        <div class="row border border-primary">
            <div class="col-md-10">
                <a class="btn btn-default" target="_blank" href="https://wazalo.myshopify.com/admin/orders/@order.Id"><strong>@order.Name</strong></a> &nbsp;@order.CreatedAt.ToString("MM/dd/yyyy HH:mm") &nbsp;Customer: <span class="text-info">@order.CustomerName</span>
            </div>
            <div class="col-md-2">
                <a class="btn btn-warning" target="_blank" href="">Order Product</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                Financial: @{ if (order.FinancialStatus.Equals("paid")) {
                <span class="text-success">@order.FinancialStatus</span> } else {
                <span class="text-warning">@order.FinancialStatus</span> } } &nbsp; Fulfillment: @{ if (order.FulfillmentStatus.Equals("fulfilled")) {
                <span class="text-success">@order.FulfillmentStatus</span> } else {
                <span class="text-warning">@order.FulfillmentStatus</span> } } &nbsp;Supplier: &nbsp;Shipped: 0 / 0
            </div>
            <div class="col-md-2">@order.TotalPrice</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    @foreach(ShopifyOrderLineItem lineItem in order.LineItems) {
                    <div class="row bg-light text-dark border">
                        <div class="col-md-2">@{ ShopifyProductImage productImage = lineItem.ProductImages.First();
                            <img width="80" class="img" src="@productImage.Src" alt="@productImage.Alt"> }
                        </div>
                        <div class="col-md-3"><span class="text-info">@lineItem.Title</span><br><small>@lineItem.Sku</small></div>
                        <div class="col-md-2">@lineItem.VariantTitle</div>
                        <div class="col-md-2">
                            @if (order.Fulfillments != null) { @foreach(ShopifyOrderFulfillment fulfillment in order.Fulfillments) {
                            <a target="_blank" href="@fulfillment.TrackingUrl">@fulfillment.TrackingNumber</a> } }
                        </div>
                        <div class="col-md-1">@lineItem.Quantity</div>
                        <div class="col-md-1"><span class="text-muted"><small>x</small></span></div>
                        <div class="col-md-1">@lineItem.Price</div>
                    </div>
                    }
            </div>
        </div>
        }
   </div>
