@{ ViewData["Title"] = "Index"; } 
@model IEnumerable<ShopifyOrder>

    <div class="container">
        <div class="row align-items-center mt-3">
            <div class="col-md-10">
                <h3>Your orders for @ViewData["dateStart"] - @ViewData["dateEnd"]</h3>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary float-right">Get All Tracking Codes</button>
            </div>
        </div>

        <form id="filtering" method="POST">
        <div class="row align-items-center mt-3">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Filter..."> 
                    <div class="input-group-append">
                        <button class="btn btn-info" type="button">Filter</button>
                    </div>                                  
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group date">
                    <input id="startDate" type="text" class="form-control py-2 border-right-0 border" value="@ViewData["dateStart"]">
                    <div class="input-group-append input-group-addon">
                        <span class="input-group-text bg-transparent"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group date">
                    <input id="endDate" type="text" class="form-control py-2 border-right-0 border" value="@ViewData["dateEnd"]">
                    <div class="input-group-append input-group-addon">
                        <span class="input-group-text bg-transparent"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle float-right" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Date Range
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Today</a>
                        <a class="dropdown-item" href="#">Yesterday</a>
                        <a class="dropdown-item" href="#">Last 7 days</a>
                        <a class="dropdown-item" href="#">Last 14 days</a>
                        <a class="dropdown-item" href="#">Last 30 days</a>
                        <a class="dropdown-item" href="#">Last 90 days</a>
                        <a class="dropdown-item" href="#">Week to date</a>
                        <a class="dropdown-item" href="#">Month to date</a>
                        <a class="dropdown-item" href="#">Quarter to date</a>
                        <a class="dropdown-item" href="#">Year to date</a>
                    </div>
                </div>
            </div>
        </div>
        </form>

        @foreach(ShopifyOrder order in Model) {
        <div class="row align-items-center mt-3">
            <div class="col-md-1">
                <a class="btn btn-default" target="_blank" href="https://wazalo.myshopify.com/admin/orders/@order.Id"><strong>@order.Name</strong></a>
            </div>
            <div class="col-md-2">
                @order.CreatedAt.ToString("dd/MM/yyyy HH:mm")
            </div>
            <div class="col-md-3">
                Customer: <span class="text-info">@order.CustomerName</span>
            </div>
            <div class="col-md-6">
                <a class="btn btn-warning float-right" target="_blank" href="">Order Product</a>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-2">
                Financial: @if (order.FinancialStatus.Equals("paid")) {
                <span class="text-success">@order.FinancialStatus</span> } else {
                <span class="text-warning">@order.FinancialStatus</span> }
            </div>
            <div class="col-md-3">
                Fulfillment: @if (order.FulfillmentStatus.Equals("fulfilled")) {
                <span class="text-success">@order.FulfillmentStatus</span> } else {
                <span class="text-warning">@order.FulfillmentStatus</span> }
            </div>
            <div class="col-md-2">
                Supplier:
            </div>
            <div class="col-md-2">
                Shipped: 0 / 0
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @foreach(ShopifyOrderLineItem lineItem in order.LineItems) {
                <div class="row align-items-center bg-light text-dark border">
                    <div class="col-md-2">@{ if (lineItem.ProductImages != null) { ShopifyProductImage productImage = lineItem.ProductImages.First();
                        <img width="80" class="img" src="@productImage.Src" alt="@productImage.Alt"> } }
                    </div>
                    <div class="col-md-3"><span class="text-info">@lineItem.Title</span><br><small>@lineItem.Sku</small></div>
                    <div class="col-md-2">@lineItem.VariantTitle</div>
                    <div class="col-md-2">
                        @if (order.Fulfillments != null) { @foreach(ShopifyOrderFulfillment fulfillment in order.Fulfillments) {
                        <a target="_blank" href="@fulfillment.TrackingUrl">@fulfillment.TrackingNumber</a> } }
                    </div>
                    <div class="col-md-1">
                        <div class="float-right">@lineItem.Quantity</div>
                    </div>
                    <div class="col-md-1"><span class="text-muted float-right"><small>x</small></span></div>
                    <div class="col-md-1">
                        <div class="float-right">@lineItem.Price</div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="float-right"><small>Total Cost: </small>@order.TotalPrice</div>
            </div>
        </div>
        }
    </div>

@section Scripts {
    <script type="text/javascript">
        $(function() { // will trigger when the document is ready
            
            $('.input-group.date').datepicker({
                format: "yyyy-mm-dd",
                language: "no",
                autoclose: true
            })
            .on('changeDate', function(e) {
                $('#filtering').submit();
            });
        });
    </script>
}