@model Order
@{
    var order = @Model;
    var isOrderPage = (bool)ViewData["orderPage"];

    var purchaseOrderSent = false;
    foreach(NoteAttribute noteAttribute in order.NoteAttributes) {
        if (noteAttribute.Name.Equals("PurchaseOrderSent") && noteAttribute.Value.Equals("True")) {
            purchaseOrderSent = true;
        }
    }
}

<div class="row align-items-center mt-3">
    <div class="col-md-1">
        <a class="btn btn-default" target="_blank" href="https://wazalo.myshopify.com/admin/orders/@order.Id"><strong>@order.Name</strong></a>
    </div>
    <div class="col-md-2">
        @order.CreatedAt?.ToString("dd/MM/yyyy HH:mm")
    </div>
    <div class="col-md-3">
        Customer: <span class="text-info">@order.Customer.FirstName @order.Customer.LastName</span>
    </div>
        @if(isOrderPage) {
            <div class="col-md-6">
                <div class="float-right"><a class="btn btn-info" asp-controller="Orders" asp-action="PurchaseOrder" asp-route-id="@order.Id">Create Purchase Order</a></div>
            </div>            
        } else {
            <div class="col-md-6">
                @if (purchaseOrderSent) {
                    <div class="float-right"><a class="btn btn-info" asp-controller="Orders" asp-action="Order" asp-route-id="@order.Id">View Order</a></div>
                } else {
                    <div class="float-right"><a class="btn btn-info" asp-controller="Orders" asp-action="Order" asp-route-id="@order.Id">Buy Products</a></div>
                }
                @if(purchaseOrderSent && order.FulfillmentStatus == null) {
                    <div class="float-right mr-2"><a class="btn btn-warning" asp-controller="Orders" asp-action="FulfillmentModal" asp-route-id="@order.Id" data-target="#modal-container" data-toggle="modal">Fulfill Order</a></div>
                }
            </div>
        }            
</div>
<div class="row align-items-center">
    <div class="col-md-2">
        Financial: @if (order.FinancialStatus != null && order.FinancialStatus.Equals("paid")) {
        <span class="text-success">@order.FinancialStatus</span> } else {
        <span class="text-warning">@order.FinancialStatus</span> }
    </div>
    <div class="col-md-2">
        Fulfillment: @if (order.FulfillmentStatus != null && order.FulfillmentStatus.Equals("fulfilled")) {
        <span class="text-success">@order.FulfillmentStatus</span> 
        } else if (order.FulfillmentStatus == null) {
        <span class="text-danger">null</span> 
        } else {
        <span class="text-warning">@order.FulfillmentStatus</span> 
        }
    </div>
    <div class="col-md-2">
        Status: @if (order.CancelledAt.HasValue) {
        <span class="text-warning">cancelled</span> } 
        else if (order.ClosedAt.HasValue) {
        <span class="text-success">closed</span> 
        } else {
        <span class="text-success">open</span>
        }
    </div>
    <div class="col-md-4">
        @foreach(NoteAttribute noteAttribute in order.NoteAttributes) {
            @noteAttribute.Name<text>:</text> <span class="text-success">@noteAttribute.Value</span>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach(LineItem lineItem in order.LineItems) {
        <div class="row align-items-center bg-light text-dark border clickable-row" data-href="@Url.Action("Order", "Orders", new { Id = @order.Id})">
            <div class="col-md-2">
                @{ 
                    if (lineItem.ProductId.HasValue) {                        
                        <img width="100" class="img loadlater" data-src="/Images/Product/@lineItem.ProductId.Value"/>
                    }
                }
            </div>
            <div class="col-md-3"><span class="text-info">@lineItem.Title</span><br><small>SKU: @lineItem.SKU</small></div>
            <div class="col-md-2">@lineItem.VariantTitle</div>
            <div class="col-md-2">
                @if (order.Fulfillments != null) { @foreach(Fulfillment fulfillment in order.Fulfillments) {
                <a target="_blank" href="@fulfillment.TrackingUrl">@fulfillment.TrackingNumber</a> } }
            </div>
            <div class="col-md-1">
                <div class="float-right">@lineItem.Quantity</div>
            </div>
            <div class="col-md-1"><span class="text-muted float-right"><small>x</small></span></div>
            <div class="col-md-1">
                <div class="float-right">@lineItem.Price</div>
            </div>
        </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="float-right"><small>Total Cost:</small> @order.TotalPrice</div>
    </div>
</div>