@model IEnumerable<PurchaseOrder> 
@{
    ViewData["Title"] = "Purchase Order";
    var orders = @Model;
}

<h2>Aiminyz - Purchase Order from Wazalo.com</h2>
<br>

<table class="table table-bordered table-hover table-sm">
  <thead class="thead-light">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">SKU</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price (USD)</th>
        <th scope="col">Name</th>
        <th scope="col">Address 1</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Telephone</th>
        <th scope="col">Remarks</th>
      </tr>
  </thead>
  <tbody>
    @foreach(PurchaseOrder order in orders) {
        <tr>
            <td>@order.OrderID</td>
            <td>@order.SKU</td>
            <td>@order.Quantity</td>
            <td>@order.PriceUSD</td>
            <td>@order.Name</td>
            <td>@order.Address1</td>
            <td>@order.City</td>
            <td>@order.Country</td>
            <td>@order.ZipCode</td>
            <td>@order.Telephone</td>
            <td>@order.Remarks</td>
        </tr>
        }
  </tbody>
</table>

<p><b>Note!</b></p>
<p>We are dropshipping! 
Please, don't include any invoices or promo materials into the package. 
Please also ensure the total shipment value never exceed $40 including shipment cost. 
If so, please separate into more shipments.
Also, always use ePacket for shipment.</p>
<p>If you have any questions, please send an email to <u><a href="mailto:shop@wazalo.com">shop@wazalo.com</a></u></p>

<br>
<br>
<h1>Step 1. Pay on Paypal</h1>
<h2>Send Money to master@aiminyz.com</h2>
<a class="btn btn-primary" href="https://www.paypal.com/myaccount/transfer/homepage/send" role="button" target="_blank">Pay on Paypal</a>
<br>
<br>
<h1>Step 2. Send Email with Purchase Order</h1>
<a class="btn btn-warning" asp-controller="Orders" asp-action="MailPurchaseOrder" asp-route-id="@ViewData["id"]">Mail Purchase Order</a>
<br>
<br>
<br>
<br>
<a class="btn btn-warning" asp-controller="Orders" asp-action="ExportPurchaseOrder" asp-route-id="@ViewData["id"]">Export Purchase Order</a>
