@model ShopifyOrder
@{
    ViewData["Title"] = "Purchase Order" + @Model.Name;
    var order = @Model as ShopifyOrder; 
}

<h3 style="margin: 0 0 1em 0;">Purchase Order from WAZALO.COM</h3>

<table class="table-tabular" style="margin: 0 0 1em 0;">
  <thead>
      <tr>
        <th>Order ID</th>
        <th>SKU</th>
        <th>Quantity</th>
        <th>Price (USD)</th>
        <th>Name</th>
        <th>Address 1</th>
        <th>Zip Code</th>
        <th>City</th>
        <th>Country</th>
        <th>Telephone</th>
        <th>Remarks</th>
      </tr>
  </thead>
  <tbody>
    @foreach(ShopifyOrderLineItem lineItem in order.LineItems) {
        <tr>
            <td>@order.Name</td>
            <td>@lineItem.Sku<br />(@lineItem.VariantTitle)
            </td>
            <td>@lineItem.Quantity</td>
            <td>      
            @if(lineItem.Price == 449) {
                <div>18 USD</div>
            } else if(lineItem.Price == 199) {
                <div>Paw Shoes: 9 USD</div>
            } else {
                <div>?</div>
            }
            </td>
            <td>@order.CustomerName</td>
            <td>@order.CustomerAddress</td>
            <td>@order.CustomerZipCode</td>
            <td>@order.CustomerCity</td>
            <td>@order.CustomerCountry</td>
            <td>+47 41 31 88 53</td>
            <td>@order.Note</td>
        </tr>
        }
  </tbody>
</table>

<p><b>Note!</b></p>
<p>We are dropshipping! 
Please, don't include any invoices or promo materials into the package. 
Please also ensure the total shipment value never exceed $40 including shipment cost. 
If so, please separate into more shipments.
Also, always use ePacket for shipment.</p>
<p>If you have any questions, please send an email to <u><a href="mailto:shop@wazalo.com">shop@wazalo.com</a></u></p>